@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/CrimsonPro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('/fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playpen Sans';
    src: url('/fonts/PlaypenSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('/fonts/BalsamiqSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}