@page {
    margin: 0;
    padding: 0;
}

@media print {

    html {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 32px;
        padding: 0;
    }

    section {
        margin-top: 0;
    }
}
